bachelors/year4/semestre1/python_ruby/HomeWorks/python/8/some_dir/some_nested_dir/plans.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Plans" type="PlansType"/>
    <xs:complexType name="planType">
        <xs:sequence>
            <xs:element name="planname" type="xs:string"/>
            <xs:element name="provider" type="xs:string"/>
            <xs:element name="payroll" type="xs:nonNegativeInteger"/>
            <xs:element type="callpricesType" name="callprices"/>
            <xs:element name="smsprice" type="xs:nonNegativeInteger"/>
            <xs:element type="parametersType" name="parameters"/>
        </xs:sequence>

        <xs:attribute type="xs:string" name="id" use="required"/>
    </xs:complexType>

    <xs:complexType name="PlansType">
        <xs:sequence>
            <xs:element type="planType" name="plan" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="parametersType">
        <xs:sequence>
            <xs:element name="favouriteNumber" type="xs:nonNegativeInteger"/>
            <xs:element name="tarification" type="xs:nonNegativeInteger"/>
            <xs:element name="applyCost" type="xs:nonNegativeInteger"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="callpricesType">
        <xs:sequence>
            <xs:element name="inside" type="xs:nonNegativeInteger"/>
            <xs:element name="outside" type="xs:nonNegativeInteger"/>
            <xs:element name="landline" type="xs:nonNegativeInteger"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>