bachelors/year4/semestre1/functional/HomeWorks/lisp/4/xml/Medicine.dtd

<!DOCTYPE Medicine [
        <!ELEMENT Medicine (medicament)*>
        <!ELEMENT medicament (medname|price|dosage|visual)*>
        <!ELEMENT medname (#PCDATA)>
        <!ELEMENT price (#PCDATA)>
        <!ELEMENT dosage (#PCDATA)>
        <!ELEMENT visual (colour|consistence|applications)*>
        <!ELEMENT colour (#PCDATA)>
        <!ELEMENT consistence (#PCDATA)>
        <!ELEMENT application (#PCDATA)>
        ]>